body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#map{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}


.search-container{
    position: absolute;
    width: 400px;
    height: 60px;
    background-color: #454E53;
    z-index: 100;
    top: 230px;
    left: 100px;
    border-radius: 30px;
}

.search{
    flex-grow: 1;
    padding: 5px;
}

.search-container input{
    flex-grow: 1;
    font-size: 25px;
    background-color: transparent;
    border: none;
    color: white;
}

.search i{
    font-size: 25px;
    color: white;
}

.store-list-container{
    position: absolute;
    background: white;
    width: 400px;
    z-index: 100;
    height: 300px;
    top: 320px;
    left: 100px;
    border: 30px;
    bottom: 20px;
    display: flex;
}

.store-address{
    font-size: 21px;
    color: gray;
    margin-top: 15px;
}

.store-phone-number{
    color: #b5adad;
    margin-top: 15px;

}

.store-number{
    width: 30px;
    height: ;
    display: flex;
    background-color: ;

}

.store-address span{
    display: block;
}

.store-container-background{
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    background-color: white;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 18px;
    transition: all 0.2s ease-in-out;
}

.store-container-background:hover{
    background-color: lightgray;
}

.stores-list{
    padding-left: 20px;
    padding-right: 20px;
}

.store-info-container{

}

.store-number-container{

}